/* app/globals.css */
@import "tailwindcss";

/* Any custom global styles can go here */
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}